.header {
  width: 100%;
  background-color: white;
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__img {
    width: 12.5rem;
  }
  &__icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
  }
}